.flexbox{
    display: flex;
    border: 2px solid rgb(181, 108, 238);
    padding: 70px;
}

.item{
    border: 2px solid rgb(114, 196, 250);
    padding: 20px;
    
}
#box1{
   justify-content: space-evenly; 
}