@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Ephesis&family=Lavishly+Yours&family=Mansalva&family=Ms+Madi&family=Shadows+Into+Light&family=Sue+Ellen+Francisco&family=Sunshiney&display=swap');
body{
    background: rgb(9, 109, 22);
     margin: 10px;
    padding: 50px;
}
.flexbox{
    display: flex;
    /*border: 2px solid rgb(181, 108, 238);*/
    padding: 70px;
}

.item{
    /*border: 2px solid rgb(114, 196, 250);*/
    padding: 20px;
    
}

#box1{
   justify-content: space-evenly; 
   background: rgb(89, 43, 129);
   border-radius: 20px;
   box-shadow: 5px 5px 5px 0px #000000;
}
#box2, #box3, #box4{
    justify-content:center;
}
#box3{
  background:rgb(212, 165, 234);  
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px #000000;
}
#box4{
    
}
#innerbox4{
    justify-content: space-around;
    background: rgb(121, 78, 144);
    border-radius: 20px;
    box-shadow:5px 5px 5px 0px #000000;
}
h1{
    color:color-mix(in srgb, rgb(223, 223, 255) 30%, rgb(168, 118, 206) 50%);
    text-align:center;
    font-family: "Ballet", cursive;
    font-size: 50px;
    
}
p{
    color:azure;
    font-family: "Ms Madi", cursive;
    font-size: 20px;
}
button{
    padding: 5px;
    background: linear-gradient(rgb(214, 55, 209), plum);
    border-radius: 20%;
    border: 2 solid purple;
    color:azure;
    text-align:center;
    font-family: "Ms Madi", cursive;
}
button:hover{
    padding: 5px;
    background: linear-gradient(rgb(215, 30, 209), rgb(160, 221, 209));
    border-radius: 20%;
    border: 2 solid purple;
    color:azure;
}
img{
    border: 5px dotted rgb(253, 253, 184); 
    border-radius: 20%;
}
h2{
    color:rgb(231, 244, 255);
    font-family: "Ms Madi", cursive;
    font-size: 30px;
   
}
#title{
    color: rgb(102, 164, 102);
}