.flexbox{
    display: flex;
    border: 2px solid rgb(181, 108, 238);
    padding: 70px;
}

.item{
    border: 2px solid rgb(114, 196, 250);
    padding: 20px;
    
}
#box1{
   justify-content: space-evenly; 
   background: rgb(109, 2, 155);
}
#box2, #box3, #box4{
    justify-content:center;
}
#box3{
  background:rgb(212, 165, 234);  
}
#box4{
    
}
#innerbox4{
    justify-content: space-around;
    background: rgb(182, 92, 221);
}